OPENAI_API_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
JWT_SECRET=
JWT_ALGORITHM=HS256
CHROMA_PERSIST_PATH=./chroma_data
CORS_ORIGINS=https://writing-solver-fe.onrender.com
FRONTEND_URL=https://writing-solver-fe.onrender.com
ENVIRONMENT=development
